# Haxe exports
Export

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
## Directory-based project format
.idea/
## File-based project format
*.ipr
*.iws
*.iml

# Operating systems
## Mac OS X
.DS_Store
## Windows
Thumbs.db
